.tiptap::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

.tiptap::-webkit-scrollbar-track {
	@apply bg-border;
	border-radius: 0.3rem; /* color of the tracking area */
}

.tiptap::-webkit-scrollbar-thumb {
	border-radius: 20px;
	border: 3px solid orange;
	@apply border-[3px] border-border bg-primary; /* creates padding around scroll thumb */
}

.tiptap > * + * {
	margin-top: 0.75em;
}

ul,
ol {
	padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
}
h1 {
	font-size: x-large;
}

code {
	background-color: rgba(97, 97, 97, 0.1);
	color: #616161;
}

pre {
	background: #0d0d0d;
	color: #fff;
	font-family: "JetBrainsMono", monospace;
	padding: 0.75rem 1rem;
	border-radius: 0.2rem;
	@apply border border-border;
}

pre code {
	color: inherit;
	padding: 0;
	background: none;
	font-size: 0.8rem;
}

img {
	max-width: 100%;
	height: auto;
}

blockquote {
	padding-left: 1rem;
	border-left: 2px solid rgba(13, 13, 13, 0.1);
}

hr {
	border: none;
	border-top: 2px solid rgba(13, 13, 13, 0.1);
	margin: 2rem 0;
}
